/.GetterSetterValues.java._trace
/.GetterSetterValues.xtendbin
/.ValVar.java._trace
/.ValVar.xtendbin
/.XtendNoiseExample.java._trace
/.XtendNoiseExample.xtendbin
/GetterSetterValues.java
/ValVar.java
/XtendNoiseExample.java
